<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {% if request.page_type == 'index' %}
      <meta name="description" content="Bruta Madeiras">
    {% endif %}
    {% if request.page_type == 'product' %}
      {% if product.metafields.custom.meta_descricao != blank %}
        <meta name="description" content="{{ product.metafields.custom.meta_descricao}}">
      {% else %}
        <meta name="description" content="Bruta Madeiras - {{ product.title }}">
      {% endif %}
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >
      <link
        rel="icon"
        href="https://cdn.shopify.com/s/files/1/0832/0850/3616/files/bruta-favicon.ico?v=1748382670"
        type="image/png"
        sizes="16x16"
      >
      {%- capture seo_title -%}
        {{ page_title }}
        {%- if current_tags -%}
        {%- endif -%}
        {%- if current_page != 1 -%}
        {%- endif -%}
        {%- assign escaped_page_title = page_title | escape -%}
        {%- unless escaped_page_title contains shop.name -%}
          &ndash; {{ shop.name }}
        {%- endunless -%}
      {%- endcapture -%}
      <title>{{ seo_title | strip }}</title>
  </head>

  <body id="{{ page_title | handle }}" class="bg-[#F9F9F9] template-{{ template.name | handle }}">
      {% section 'main-header' %}
    <script src="{{ 'Utils.js' | asset_url }}" defer></script>

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'main-newsletter' %}
    {% section 'main-footer' %}
    {% section 'main-minicart' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    {% if request.page_type == 'index' %}
      <script src="{{ 'Home.js' | asset_url }}" defer></script>
    {% endif %}
    <div
      class="bg-click overlay-bg hidden fixed inset-0 w-full h-full z-0 bg-black opacity-20 [&.active]:block [&.active]:z-10"
      onclick="closeMinicart()"
    ></div>
    <script src="{{ 'MinicartApi.js' | asset_url }}" defer></script>
    <script src="{{ 'Minicart.js' | asset_url }}" defer></script>
    <script src="{{ 'Wishlist_localstorage.js' | asset_url }}" defer></script>
  </body>
</html>
